.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
  }
  
  
  .dropdown-content.show {
    display: block;
  }
  
  .dropdown-content button {
    background: none;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: #ddd;
  }
  